@import './partials/mixins';

.home {
    margin-top: 120px;

    .notes-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .home-btn {
        @include primary-button;
    }

    .font-size-input {
        width: 50px;
        height: 30px;
    }

    textarea {
        min-height: 75vh;
        width: 100%;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .create-note {
        border-right: 2px solid gray;

        .arrow-btn {
            @include positioned(absolute, 70px, 0px, auto, auto);
            transform: translate(17px);
            cursor: pointer;
        }
    }

    .selected-note {
        transform: scale(100%);
        animation: zoom 2s linear 0s 1;
    }
}

@media only screen and (max-width: 768px) {
    .home {
        margin-top: 70px;
        margin-bottom: 100px;

        textarea {
            min-height: 50vh;
        }

        .notes-container {
            display: block;
        }

        .create-note {
            border: none;
        }
    }
}

@keyframes zoom {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(110%);
    }

    100% {
        transform: scale(100%);
    }
}