@import './partials/mixins';

.home {
    margin-top: 120px;

    .notes-container{
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .home-btn {
        @include primary-button;
    }
    .font-size-input{
        width: 50px;
        height: 30px;
    }
    textarea{
        min-height: 75vh;
        width: 100%;
        border: none;
        &:focus{
            outline: none;
        }
    }
    .create-note{
        border-right: 2px solid gray;
        .arrow-btn{
            position: absolute;
            right: 0;
            transform: translate(17px);
            top: 70px;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 768px) {
    .home {
        margin-top: 70px;
        margin-bottom: 100px;
        textarea{
            min-height: 50vh;
        }
        .notes-container{
            display: block;
        }
        .create-note{
            border: none;
        }
    }
}