@import './partials/variables';
@import './partials/mixins';


nav {
    .transformed {
        transform: rotate(180deg);
    }

    .navbar-position {
        @include positioned(fixed, auto, 0px, 0px, 0px);
        z-index: 10;
    }

    .custom-fs {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) {
    nav {
        .navbar-position {
            @include positioned(fixed, 0px, 0px, auto, 0px);
        }
    }
}

@media only screen and (max-width: 768px) {
    nav {
        .profile {
            @include positioned(fixed, 20px, 20px, auto, auto);
        }

        .custom-fs {
            font-size: 15px;
        }
    }
}